<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h2>Join</h2>
            <form action="/chat/<%=username%>" method="post">
                <label for="chatid">Chat id</label>
                <input type="text" name="chatid", id="chatid">
                <button>Join</button>
            </form>           
        </div>
    </main>
</body>
</html>