<%- include('partials/head.ejs')%>
<body>
    <main>
        <div>
            <h2>Join</h2>
            <form action="/chat/<%=username%>" method="post">
                <label for="chatid">Chat ID</label>
                <input type="text" name="chatid", id="chatid" class="user-text-input">
                <button class="text-button">Join</button>
            </form>           
        </div>
    </main>
    <div style="text-align: center;">
        <p>Leave it empty if you want to create an id so people can join</p>
    </div>
</body>
</html>