<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <h1>This is the main page</h1>
    <main>
        <div>
            <form action="/" method="post">
                <label for="username">username</label>
                <input type="text" name="username", id="username">
                <label for="chatid">chat ID</label>
                <input type="text" name="chatid", id="chat-id">
                <button>Submit</button>
            </form>
        </div>

    </main>
</body>
</html>