<%- include('partials/head.ejs')%>
<body>
    <main>
        <h2>Enter your username</h2>
        <form action="/" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="user-text-input">
            <button class="text-button">submit</button>
        </form>
    </main>
</body>
</html>